# Case Scenario: Global Energy, Food, Consumer, and Producer Price Inflation

The global economy is highly complex, and understanding economic trends and patterns is crucial for making informed decisions about investments, policies, and more. One key factor that impacts the economy is inflation, which refers to the rate at which prices increase over time. The Global Energy, Food, Consumer, and Producer Price Inflation dataset provides a comprehensive collection of inflation rates across 206 countries from 1970 to 2022, covering four critical sectors of the economy.

Finally, the Global Producer Price Inflation dataset provides a detailed look at price changes at the producer level, providing insights into supply chain dynamics and trends. This data can be used to make informed decisions about investments in various sectors of the economy and to develop effective policies to manage producer price inflation.

![Inflation](https://www.indusind.com/iblogs/wp-content/uploads/understanding.jpg)

# Import Libraries for EDA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# Setting the matplotlib parameters
%matplotlib inline
%config InlineBackend.figure_format='retina'
sns.set(style='whitegrid', palette='muted', font_scale=1.2)
rcParams['figure.figsize'] = 12, 8

# Suppressing the warnings
import warnings
warnings.filterwarnings('ignore')

# 1.0 Loading Dataset and EDA

## 1.1 Dataset Overview
The dataset contains 63 columns and around 800 rows. The columns are as follows.
* `Country Code`: A unique code assigned to each country in the dataset.
* `IMF Country Code`: The three-letter code
assigned by the International Monetary Fund (IMF) to each country.
* `Country`: The name of the country.
* `Indicator Type`: The type of inflation indicator (energy, food, consumer, producer).
* `Series Name`: The name of the specific inflation series
* `1970-2022`: Inflation rates for each year, provided in monthly, quarterly, or annual intervals depending on the country and series.
* `Note`: Any additional notes or context for the data, such as sources or explanations for any outliers or gaps in the data.

In [2]:
# Read the inflation dataset
filepath = 'Global Dataset of Inflation.csv'
inflation_data = pd.read_csv(filepath, encoding='ISO-8859-1')

In [3]:
# Display some sample data
inflation_data.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [4]:
# Check the column names
column_names = inflation_data.columns
column_names

Index(['Country Code', 'IMF Country Code', 'Country', 'Indicator Type',
       'Series Name', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', 'Note', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63'],
      dtype='object')

In [5]:
# Check the data frame info
inflation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Code      783 non-null    object
 1   IMF Country Code  781 non-null    float64
 2   Country           783 non-null    object
 3   Indicator Type    783 non-null    object
 4   Series Name       783 non-null    object
 5   1970              422 non-null    float64
 6   1971              428 non-null    float64
 7   1972              430 non-null    float64
 8   1973              430 non-null    float64
 9   1974              434 non-null    float64
 10  1975              434 non-null    float64
 11  1976              430 non-null    float64
 12  1977              427 non-null    float64
 13  1978              428 non-null    float64
 14  1979              428 non-null    float64
 15  1980              433 non-null    float64
 16  1981              451 non-null    float64
 17  1982              458 non-null    float64
 18  1983              464 non-null    float64
 19  1984              470 non-null    float64
 20  1985              466 non-null    float64
 21  1986              475 non-null    float64
 22  1987              482 non-null    float64
 23  1988              485 non-null    float64
 24  1989              483 non-null    float64
 25  1990              489 non-null    float64
 26  1991              507 non-null    float64
 27  1992              519 non-null    float64
 28  1993              536 non-null    float64
 29  1994              552 non-null    float64
 30  1995              559 non-null    float64
 31  1996              570 non-null    float64
 32  1997              575 non-null    float64
 33  1998              584 non-null    float64
 34  1999              591 non-null    float64
 35  2000              596 non-null    float64
 36  2001              610 non-null    float64
 37  2002              625 non-null    float64
 38  2003              629 non-null    float64
 39  2004              634 non-null    float64
 40  2005              646 non-null    float64
 41  2006              661 non-null    float64
 42  2007              671 non-null    float64
 43  2008              680 non-null    float64
 44  2009              686 non-null    float64
 45  2010              693 non-null    float64
 46  2011              687 non-null    float64
 47  2012              696 non-null    float64
 48  2013              715 non-null    float64
 49  2014              734 non-null    float64
 50  2015              735 non-null    float64
 51  2016              746 non-null    float64
 52  2017              737 non-null    float64
 53  2018              737 non-null    float64
 54  2019              728 non-null    float64
 55  2020              719 non-null    float64
 56  2021              706 non-null    float64
 57  2022              665 non-null    float64
 58  Note              783 non-null    object
 59  Unnamed: 59       19 non-null     object
 60  Unnamed: 60       0 non-null      float64
 61  Unnamed: 61       0 non-null      float64
 62  Unnamed: 62       0 non-null      float64
 63  Unnamed: 63       0 non-null      float64
dtypes: float64(58), object(6)
memory usage: 391.6+ KB

<font color='red'>Note: </font> Upon observation, the dataset contains unnamed columns with little to no non-null values. After careful consideration, these columns can be dropped as they are not relevant to the analysis. On the other hand, although the **'IMF Country Code'** is currently a `float64` data type, it can be converted to an `object` type because it represents categorical data rather than numerical values, and performing this conversion will ensure it is treated appropriately during the analysis.

In [6]:
# Removing unnamed columns using drop function
inflation_data.drop(inflation_data.columns[inflation_data.columns.str.contains('unnamed', case=False)], axis=1, inplace=True)

In [7]:
# Making 'IMF Country Code' as 'object' for the statistical analysis
inflation_data['IMF Country Code'] = inflation_data['IMF Country Code'].astype('object')

In [8]:
# Check the data frame info again
inflation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 59 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Code      783 non-null    object
 1   IMF Country Code  781 non-null    object
 2   Country           783 non-null    object
 3   Indicator Type    783 non-null    object
 4   Series Name       783 non-null    object
 5   1970              422 non-null    float64
 6   1971              428 non-null    float64
 7   1972              430 non-null    float64
 8   1973              430 non-null    float64
 9   1974              434 non-null    float64
 10  1975              434 non-null    float64
 11  1976              430 non-null    float64
 12  1977              427 non-null    float64
 13  1978              428 non-null    float64
 14  1979              428 non-null    float64
 15  1980              433 non-null    float64
 16  1981              451 non-null    float64
 17  1982              458 non-null    float64
 18  1983              464 non-null    float64
 19  1984              470 non-null    float64
 20  1985              466 non-null    float64
 21  1986              475 non-null    float64
 22  1987              482 non-null    float64
 23  1988              485 non-null    float64
 24  1989              483 non-null    float64
 25  1990              489 non-null    float64
 26  1991              507 non-null    float64
 27  1992              519 non-null    float64
 28  1993              536 non-null    float64
 29  1994              552 non-null    float64
 30  1995              559 non-null    float64
 31  1996              570 non-null    float64
 32  1997              575 non-null    float64
 33  1998              584 non-null    float64
 34  1999              591 non-null    float64
 35  2000              596 non-null    float64
 36  2001              610 non-null    float64
 37  2002              625 non-null    float64
 38  2003              629 non-null    float64
 39  2004              634 non-null    float64
 40  2005              646 non-null    float64
 41  2006              661 non-null    float64
 42  2007              671 non-null    float64
 43  2008              680 non-null    float64
 44  2009              686 non-null    float64
 45  2010              693 non-null    float64
 46  2011              687 non-null    float64
 47  2012              696 non-null    float64
 48  2013              715 non-null    float64
 49  2014              734 non-null    float64
 50  2015              735 non-null    float64
 51  2016              746 non-null    float64
 52  2017              737 non-null    float64
 53  2018              737 non-null    float64
 54  2019              728 non-null    float64
 55  2020              719 non-null    float64
 56  2021              706 non-null    float64
 57  2022              665 non-null    float64
 58  Note              783 non-null    object
dtypes: float64(53), object(6)
memory usage: 361.0+ KB

## 1.2 Size and Range of Values

In [9]:
# Check the shape of the dataset
print(f"Dataset Shape: Rows = {inflation_data.shape[0]}; Columns = {inflation_data.shape[1]}")

Dataset Shape: Rows = 783; Columns = 59

In [10]:
def print_unique_col_values(df):
    """
    Print unique values and their counts for each column in the DataFrame.

    Parameters:
    - df (pd.DataFrame): The DataFrame to analyze.
    """
    for column in df:
        print(f"{column} : {df[column].unique()} ({len(df[column].unique())} unique values)")
        print("--------------------------------------------------------------")

In [11]:
# Print unique values and their counts for each catagorical column in df
categorical_columns = ['Country Code', 'IMF Country Code', 'Country', 'Indicator Type', 'Series Name']
print_unique_col_values(inflation_data[categorical_columns])

Country Code : ['ABW' 'AFG' 'AGO' 'ALB' 'ARE' 'ARG' 'ARM' 'ATG' 'AUS' 'AUT' 'AZE' 'BDI'
 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR' 'BLZ' 'BOL' 'BRA'
 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CYM' 'CAN' 'CHE' 'CHL' 'CHN' 'CIV' 'CMR'
 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUW' 'CYP' 'CZE' 'DEU' 'DJI' 'DMA'
 'DNK' 'DOM' 'DZA' 'ECU' 'EGY' 'ERI' 'ESP' 'EST' 'ETH' 'FIN' 'FJI' 'FRA'
 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIN' 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GTM'
 'GUY' 'HKG' 'HND' 'HRV' 'HTI' 'HUN' 'IDN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL'
 'ISR' 'ITA' 'JAM' 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR'
 'KWT' 'LAO' 'LBN' 'LBR' 'LBY' 'LCA' 'LKA' 'LSO' 'LTU' 'LUX' 'LVA' 'MAC'
 'MAR' 'MDA' 'MDG' 'MDV' 'MEX' 'MHL' 'MKD' 'MLI' 'MLT' 'MMR' 'MNE' 'MNG'
 'MOZ' 'MRT' 'MUS' 'MWI' 'MYS' 'NAM' 'NER' 'NGA' 'NIC' 'NLD' 'NOR' 'NPL'
 'NRU' 'NZL' 'OMN' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRI' 'PRT'
 'PRY' 'PSE' 'QAT' 'ROU' 'RUS' 'RWA' 'SAU' 'SDN' 'SEN' 'SGP' 'SLB' 'SLE'
 'SLV' 'SMR' 'SRB' 'SSD' 'STP' 'SUR' 'SVK' 'SVN' 'SWE' 'SWZ' 'SYC' 'SYR'
 'TCD' 'TGO' 'THA' 'TJK' 'TKM' 'TON' 'TTO' 'TUN' 'TUR' 'TUV' 'TZA' 'UGA'
 'UKR' 'URY' 'USA' 'UZB' 'VCT' 'VEN' 'VNM' 'VUT' 'WSM' 'YEM' 'ZAF' 'ZMB'
 'ZWE' 'VGB' 'XXK' 'LIE' 'MTQ' 'MSR' 'NCL' 'NIU' 'SHN' 'TLS' 'TCA' 'SOM'
 'TWN' 'XKX'] (206 unique values)
--------------------------------------------------------------
IMF Country Code : [314.0 512.0 614.0 914.0 466.0 213.0 911.0 311.0 193.0 122.0 912.0 618.0
 124.0 638.0 748.0 513.0 918.0 419.0 313.0 963.0 913.0 339.0 218.0 223.0
 316.0 516.0 514.0 616.0 626.0 136.0 156.0 146.0 228.0 924.0 662.0 622.0
 636.0 634.0 233.0 632.0 624.0 238.0 354.0 423.0 935.0 134.0 611.0 321.0
 128.0 243.0 612.0 248.0 469.0 643.0 184.0 939.0 644.0 172.0 819.0 132.0
 868.0 646.0 112.0 915.0 652.0 656.0 648.0 654.0 642.0 174.0 328.0 258.0
 336.0 532.0 268.0 960.0 263.0 944.0 536.0 534.0 178.0 429.0 433.0 176.0
 436.0 343.0 439.0 158.0 916.0 664.0 917.0 522.0 826.0 361.0 542.0 443.0
 544.0 446.0 668.0 672.0 362.0 524.0 666.0 946.0 137.0 941.0 546.0 686.0
 921.0 674.0 556.0 273.0 867.0 962.0 678.0 181.0 518.0 943.0 948.0 688.0
 682.0 684.0 676.0 548.0 728.0 692.0 694.0 278.0 138.0 142.0 558.0 836.0
 196.0 449.0 564.0 283.0 293.0 566.0 565.0 853.0 964.0 359.0 182.0 288.0
 488.0 453.0 968.0 922.0 714.0 456.0 732.0 722.0 576.0 813.0 724.0 253.0
 135.0 942.0 733.0 716.0 366.0 936.0 961.0 144.0 734.0 718.0 463.0 628.0
 742.0 578.0 923.0 925.0 866.0 369.0 744.0 186.0 869.0 738.0 746.0 926.0
 298.0 111.0 927.0 364.0 299.0 582.0 846.0 862.0 474.0 199.0 754.0 698.0
 284.0 383.0 687.0 570.0 537.0 796.0 nan 726.0 528.0 967.0] (202 unique values)
--------------------------------------------------------------
Country : ['Aruba' 'Afghanistan' 'Angola' 'Albania' 'United Arab Emirates'
 'Argentina' 'Armenia' 'Antigua and Barbuda' 'Australia' 'Austria'
 'Azerbaijan' 'Burundi' 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh'
 'Bulgaria' 'Bahrain' 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus'
 'Belize' 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam' 'Bhutan'
 'Botswana' 'Central African Republic' 'Cayman Islands' 'Canada'
 'Switzerland' 'Chile' 'China' "Côte d'Ivoire" 'Cameroon'
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros' 'Cabo Verde'
 'Costa Rica' 'Curacao' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador'
 'Egypt, Arab Rep.' 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'Finland'
 'Fiji' 'France' 'Micronesia, Fed. Sts.' 'Gabon' 'United Kingdom'
 'Georgia' 'Ghana' 'Guinea' 'Gambia, The' 'Guinea-Bissau'
 'Equatorial Guinea' 'Greece' 'Grenada' 'Guatemala' 'Guyana'
 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia'
 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq' 'Iceland' 'Israel' 'Italy'
 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya' 'Kyrgyz Republic'
 'Cambodia' 'Kiribati' 'St. Kitts and Nevis' 'Korea, Rep.' 'Kuwait'
 'Lao PDR' 'Lebanon' 'Liberia' 'Libya' 'St. Lucia' 'Sri Lanka' 'Lesotho'
 'Lithuania' 'Luxembourg' 'Latvia' 'Macao SAR, China' 'Morocco' 'Moldova'
 'Madagascar' 'Maldives' 'Mexico' 'Marshall Islands' 'Macedonia, FYR'
 'Mali' 'Malta' 'Myanmar' 'Montenegro' 'Mongolia' 'Mozambique'
 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia' 'Namibia' 'Niger' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand' 'Oman'
 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea'
 'Poland' 'Puerto Rico' 'Portugal' 'Paraguay' 'West Bank and Gaza' 'Qatar'
 'Romania' 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino'
 'Serbia' 'South Sudan' 'São Tomé and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Swaziland' 'Seychelles'
 'Syrian Arab Republic' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu'
 'Tanzania' 'Uganda' 'Ukraine' 'Uruguay' 'United States' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'Vietnam' 'Vanuatu'
 'Samoa' 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe'
 'British Virgin Islands' 'Kosovo' 'Liechtenstein' 'Martinique'
 'Montserratit' 'New Caledonia' 'Niue' 'Saint Helena' 'Timor-Leste'
 'Turks and Caicos Islands' 'Hong Kong SAR' 'Lao, PDR' 'North Macedonia'
 'Somalia' 'Slovakia' 'Taiwan, China' 'Moldova, Rep.'
 'Tanzania, United Rep.'] (211 unique values)
--------------------------------------------------------------
Indicator Type : ['Inflation'] (1 unique values)
--------------------------------------------------------------
Series Name : ['Headline Consumer Price Inflation' 'Energy Consumer Price Inflation'
 'Food Consumer Price Inflation' 'Official Core Consumer Price Inflation'
 'Producer Price Inflation'] (5 unique values)
--------------------------------------------------------------

In [12]:
# Identifying the range of values for numeric columns (min and max values)
print("Range of Values (Inflation Rates):")
numeric_columns = inflation_data.select_dtypes(include=['float64']).columns
for col in numeric_columns:
    print(f"{col}: Min = {inflation_data[col].min()}, Max = {inflation_data[col].max()}")

Range of Values (Inflation Rates):
1970: Min = -26.09815025, Max = 61.0
1971: Min = -19.7, Max = 94.5
1972: Min = -12.52, Max = 115.2
1973: Min = -13.24, Max = 376.5
1974: Min = -35.94, Max = 513.7
1975: Min = -42.67, Max = 374.74
1976: Min = -10.9, Max = 510.7
1977: Min = -22.02, Max = 458.6
1978: Min = -23.8, Max = 175.51
1979: Min = -15.14, Max = 163.2
1980: Min = -9.19, Max = 198.7
1981: Min = -51.61, Max = 147.4
1982: Min = -13.72, Max = 164.78
1983: Min = -26.0, Max = 346.7
1984: Min = -23.82, Max = 1315.6
1985: Min = -29.92, Max = 21271.6
1986: Min = -28.1, Max = 887.0
1987: Min = -31.25, Max = 13109.5
1988: Min = -13.3, Max = 4775.2
1989: Min = -98.7, Max = 7428.7
1990: Min = -33.4, Max = 7356.82
1991: Min = -14.97, Max = 2751.2
1992: Min = -71.33, Max = 5928.6
1993: Min = -82.85, Max = 14400.0
1994: Min = -23.78, Max = 23773.1
1995: Min = -26.8, Max = 2672.23
1996: Min = -22.9, Max = 4146.01
1997: Min = -10.0, Max = 1097.01
1998: Min = -28.02, Max = 107.43
1999: Min = -14.7, Max = 355.79
2000: Min = -10.3, Max = 550.0
2001: Min = -43.4, Max = 357.28
2002: Min = -34.44, Max = 135.1
2003: Min = -47.2, Max = 386.4
2004: Min = -19.78, Max = 557.5
2005: Min = -31.52, Max = 223.9
2006: Min = -12.31, Max = 1034.2
2007: Min = -72.73, Max = 7375.3
2008: Min = -21.4, Max = 7375.3
2009: Min = -37.3, Max = 51.17
2010: Min = -12.76, Max = 58.17
2011: Min = -12.4, Max = 62.22
2012: Min = -20.14, Max = 67.97
2013: Min = -7.57, Max = 90.0
2014: Min = -8.41, Max = 86.73
2015: Min = -37.93, Max = 218.67
2016: Min = -28.62, Max = 385.91
2017: Min = -13.31, Max = 905.66
2018: Min = -14.4, Max = 169201.78
2019: Min = -16.36, Max = 19906.02
2020: Min = -31.43, Max = 17087.72
2021: Min = -5.08, Max = 1934.56
2022: Min = -1.97, Max = 433.19

In [13]:
# Summary statistics for numeric columns (1970-2022 inflation rates)
print("\nSummary Statistics:")
print(inflation_data.describe(include='all'))

Summary Statistics:
       Country Code  IMF Country Code     Country Indicator Type  \
count           783             781.0         783            783
unique          206             201.0         211              1
top             GRC             423.0  Luxembourg      Inflation
freq              5               6.0           5            783
mean            NaN               NaN         NaN            NaN
std             NaN               NaN         NaN            NaN
min             NaN               NaN         NaN            NaN
25%             NaN               NaN         NaN            NaN
50%             NaN               NaN         NaN            NaN
75%             NaN               NaN         NaN            NaN
max             NaN               NaN         NaN            NaN

                              Series Name        1970        1971        1972  \
count                                 783  422.000000  428.000000  430.000000
unique                                  5         NaN         NaN         NaN
top     Headline Consumer Price Inflation         NaN         NaN         NaN
freq                                  203         NaN         NaN         NaN
mean                                  NaN    5.867854    6.057173    7.705721
std                                   NaN    7.283523    8.617909   11.701059
min                                   NaN  -26.098150  -19.700000  -12.520000
25%                                   NaN    1.640000    1.900000    3.015000
50%                                   NaN    4.360000    4.695000    5.590000
75%                                   NaN    7.670000    7.625000    8.775000
max                                   NaN   61.000000   94.500000  115.200000

              1973        1974  ...        2014        2015        2016  \
count   430.000000  434.000000  ...  734.000000  735.000000  746.000000
unique         NaN         NaN  ...         NaN         NaN         NaN
top            NaN         NaN  ...         NaN         NaN         NaN
freq           NaN         NaN  ...         NaN         NaN         NaN
mean     14.538465   24.174101  ...    3.575688    3.570386    5.092316
std      28.889492   39.117175  ...    7.073883   14.263244   26.372222
min     -13.240000  -35.940000  ...   -8.410000  -37.930000  -28.620000
25%       6.000000   11.355000  ...    0.320000   -0.290000   -0.277500
50%       9.930000   17.545000  ...    2.020000    1.650000    1.470000
75%      15.900000   28.260000  ...    4.897500    4.570000    4.835000
max     376.500000  513.700000  ...   86.730000  218.670000  385.910000

              2017           2018          2019          2020         2021  \
count   737.000000     737.000000    728.000000    719.000000   706.000000
unique         NaN            NaN           NaN           NaN          NaN
top            NaN            NaN           NaN           NaN          NaN
freq           NaN            NaN           NaN           NaN          NaN
mean      7.263428     503.428544     80.269581     36.131405    16.324632
std      41.968311    7659.291543   1183.454979    649.033623   107.667579
min     -13.310000     -14.400000    -16.360000    -31.430000    -5.080000
25%       1.120000       1.270000      0.687500      0.100000     1.730000
50%       2.450000       2.490000      2.065000      1.880000     4.255000
75%       5.420000       4.810000      4.300000      4.170000     8.907500
max     905.660000  169201.780000  19906.020000  17087.720000  1934.560000

              2022                      Note
count   665.000000                       783
unique         NaN                        39
top            NaN  Annual average inflation
freq           NaN                       193
mean     17.285654                       NaN
std      32.234102                       NaN
min      -1.970000                       NaN
25%       5.450000                       NaN
50%       9.110000                       NaN
75%      17.530000                       NaN
max     433.190000                       NaN

[11 rows x 59 columns]

## 1.3 Checking Missing Values and Outliers

In [14]:
# Checking for any missing value in the dataset
missing_data = inflation_data.isnull().sum()
print(missing_data[missing_data > 0])  # Display columns with missing values

IMF Country Code      2
1970                361
1971                355
1972                353
1973                353
1974                349
1975                349
1976                353
1977                356
1978                355
1979                355
1980                350
1981                332
1982                325
1983                319
1984                313
1985                317
1986                308
1987                301
1988                298
1989                300
1990                294
1991                276
1992                264
1993                247
1994                231
1995                224
1996                213
1997                208
1998                199
1999                192
2000                187
2001                173
2002                158
2003                154
2004                149
2005                137
2006                122
2007                112
2008                103
2009                 97
2010                 90
2011                 96
2012                 87
2013                 68
2014                 49
2015                 48
2016                 37
2017                 46
2018                 46
2019                 55
2020                 64
2021                 77
2022                118
dtype: int64

In [15]:
def count_outliers(df, threshold=1.5):
    """
    Count outliers in a DataFrame using the IQR method.

    Parameters:
    - df: DataFrame
    - threshold: float, optional, default: 1.5
      The threshold for defining outliers. Adjust as needed.

    Returns:
    - outlier_counts: Series
      Series containing the count of outliers for each column.
    """

    # Filter the DataFrame to include only numerical columns
    numeric_df = df.select_dtypes(include=['number'])

    outlier_counts = pd.Series(index=numeric_df.columns, dtype=int)

    # Iterate over each numerical column in the DataFrame
    for column in numeric_df.columns:
        # Calculate the IQR for the column
        q75, q25 = numeric_df[column].quantile([0.75, 0.25])
        iqr = q75 - q25

        # Define the lower and upper bounds for outliers
        lower_bound = q25 - threshold * iqr
        upper_bound = q75 + threshold * iqr

        # Count outliers using the bounds
        num_outliers = ((numeric_df[column] < lower_bound) | (numeric_df[column] > upper_bound)).sum()

        # Add the count to the Series
        outlier_counts[column] = num_outliers

    return outlier_counts

In [16]:
# Show the outlier_counts
outlier_counts = count_outliers(inflation_data)
print("\nNumber of Outliers:")
print(outlier_counts)

Number of Outliers:
1970    28.0
1971    41.0
1972    36.0
1973    28.0
1974    25.0
1975    26.0
1976    30.0
1977    40.0
1978    46.0
1979    41.0
1980    38.0
1981    33.0
1982    46.0
1983    60.0
1984    60.0
1985    58.0
1986    55.0
1987    54.0
1988    60.0
1989    67.0
1990    65.0
1991    71.0
1992    82.0
1993    84.0
1994    73.0
1995    65.0
1996    53.0
1997    60.0
1998    56.0
1999    75.0
2000    65.0
2001    66.0
2002    61.0
2003    65.0
2004    44.0
2005    33.0
2006    30.0
2007    33.0
2008    38.0
2009    49.0
2010    41.0
2011    44.0
2012    54.0
2013    33.0
2014    44.0
2015    62.0
2016    77.0
2017    73.0
2018    84.0
2019    70.0
2020    94.0
2021    49.0
2022    55.0
dtype: float64

# 2.0 Data Transformation

## 2.1 Dropping Unnecessary Columns
**Transformation:** Irrelevant columns, such as `IMF Country Code`, `Indicator Type`, and `Note`, were removed from the dataset.

**Justification:** Dropping these columns reduces clutter and ensures a more streamlined dataset for analysis and visualization in Tableau.

In [17]:
inflation_data_clean = inflation_data.drop(columns=['IMF Country Code', 'Indicator Type', 'Note'])
inflation_data_clean.head()

,Country Code,Country,Series Name,1970,1971,1972,1973,1974,1975,1976,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,Aruba,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,AFG,Afghanistan,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,11.85,0.60,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,AGO,Angola,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,29.00,80.70,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,ALB,Albania,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,ARE,United Arab Emirates,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,21.98,21.98,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22

## 2.2 Reshaping the Dataset
**Transformation:** Pivot Data from Wide to Long Format

**Justification:** Tableau performs better with long-format data, where each row represents a single observation. The current dataset, with one column for each year (wide format), should be pivoted into a long format with columns for `Year` and `Inflation Rate`.

In [18]:
melted_inflation_data = pd.melt(inflation_data_clean, id_vars=['Country Code', 'Country', 'Series Name'],
                                var_name='Year', value_name='Inflation Rate')
melted_inflation_data.head()

,Country Code,Country,Series Name,Year,Inflation Rate
0,ABW,Aruba,Headline Consumer Price Inflation,1970,NaN
1,AFG,Afghanistan,Headline Consumer Price Inflation,1970,25.51
2,AGO,Angola,Headline Consumer Price Inflation,1970,7.97
3,ALB,Albania,Headline Consumer Price Inflation,1970,NaN
4,ARE,United Arab Emirates,Headline Consumer Price Inflation,1970,21.98

In [19]:
# Check the dimension of the melted dataframe
print(f"Dataset Shape: Rows = {melted_inflation_data.shape[0]}; Columns = {melted_inflation_data.shape[1]}")

Dataset Shape: Rows = 41499; Columns = 5

In [20]:
# Save the corrected dataset
melted_inflation_data.to_csv('cleaned_inflation_data.csv', index=False)

## 2.3 Standardizing Country Names
**Transformation:** Inconsistent or unrecognized country names were standardized to align with Tableau’s geographic database.

**Justification:** Some country names in the dataset, such as `Moldova, Rep.`, `Montserratit`, and `Tanzania, United Rep.`, were not recognized.

In [21]:
# Create a dictionary to map unrecognized names to Tableau-compatible names
name_corrections = {
    'Moldova, Rep.': 'Moldova',
    'Montserratit': 'Montserrat',
    'Tanzania, United Rep.': 'Tanzania'
}
# Apply corrections to the 'Country' column
melted_inflation_data['Country'] = melted_inflation_data['Country'].replace(name_corrections)

In [22]:
# Save the corrected dataset
melted_inflation_data.to_csv('corrected_country_inflation_data.csv', index=False)